* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.banner-img {
    background-image: url(img/email\ bg.PNG);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: blur(2px);
}

#bg-color {
    background: #f8f1f1ef;
}


.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    color: #fff;
}

.card-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    background: #ffff;
    padding: 3em;
    width: 100%;
    max-width: 450px;
    
}

.card-3 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-85%);
    z-index: 5;
    background: #ffff;
    width: 100%;
    max-width: 450px;
    
}

.search .title {
   
    text-align: center;
}

.search .text-content {
    text-align: center;
}

.search img {
    margin-left: 40%;
}

.mail-icon {
    margin-left: 16%;
    cursor: pointer;
}

.bottom-text .text-content {
    text-align: center;
}

.microsoft {
    display: flex;
    align-items: center;
   
}

.microsoft h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #a09898;
    font-size: 20px;
}


.microsoft.title {

    color: #0000;
    
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.form-control input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 3px;
}

.account p {
    color: #474444ef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.no-access p {
    color:  #0066ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.no-access p, a {
    text-decoration: none;
    color: #0066ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;

}


.button {
    display: flex;
    justify-content: flex-end;
    
}

.button .btn-back {
    background-color: rgb(141, 137, 137);
    border: none;
    padding: 8px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.button .btn-next {
    background-color:   #0066ff;
    border: none;
    color: #fff;
    padding: 8px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.bottom {
    display: flex;
    align-items: center;
    
}

.bottom .img-responsive{
    margin-left: 100px;
}

.bottom .text-content {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  
}
